<div id="left">
  <h2 class="header__title" i18n="@@employeeesList">Employees list</h2>
  <div>
    <mat-list id="loading-list" *ngIf="!employeees">
      <mat-list-item *ngFor="let i of [1,2,3,4,5,6,7,8]">
        <img alt="default employee avatar" mat-list-avatar src="/assets/images/default-hero.png">
        <h3 mat-line>
          <app-loading-placeholder [width]="'150px'" [height]="'0.9rem'"></app-loading-placeholder>
        </h3>
        <p mat-line>
          <app-loading-placeholder [width]="'100px'" [height]="'0.9rem'"></app-loading-placeholder>
        </p>
        <div class="employee-actions">
          <app-loading-placeholder [width]="'30px'" [height]="'0.9rem'"></app-loading-placeholder>

          <mat-icon class="icon__like--grey">favorite</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item *ngFor="let employee of employeees; trackBy: trackByFn">
        <a [@fadeIn]="fadeIn" mat-list-avatar [routerLink]="employee.default ? [routesConfig.routes.employeees.detail(employee.id)] : []">
          <img alt="employee avatar" class="cp" mat-list-avatar
                [src]="employee.avatarThumbnailUrl ? employee.avatarThumbnailUrl : 'assets/images/default-hero.png'">
        </a>
        <h3 mat-line [class.cp]="employee.default">
          <a [routerLink]="employee.default ? [routesConfig.routes.employeees.detail(employee.id)] : []">
            {{employee.name}}
          </a>
        </h3>
        <p mat-line [class.cp]="employee.default">
          <a [routerLink]="employee.default ? [routesConfig.routes.employeees.detail(employee.id)] : []">
            <span>{{employee.alterEgo}}</span>
          </a>
        </p>
        <div class="employee-actions">
          {{employee.likes | number:'.0'}}
          <mat-icon class="icon__like--red" (click)="like(employee)">
            favorite
          </mat-icon>
          <mat-icon class="icon__remove"
                    (click)="deleteEmployee(employee);">
            delete
          </mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div id="right">
  <h2 class="header__title" i18n="@@createEmployee">Create a employee</h2>
  <div id="form-loading" *ngIf="!employeees">
    <form>
      <div class="input-container">
        <app-loading-placeholder [height]="'2rem'"></app-loading-placeholder>
      </div>
      <div class="input-container">
        <app-loading-placeholder [height]="'2rem'"></app-loading-placeholder>
      </div>

      <button aria-label="create button" mat-raised-button [disabled]="true" i18n="@@create">Create</button>
    </form>
  </div>
  <div *ngIf="employeees">
    <form [formGroup]="newEmployeeForm" #form="ngForm" ngxScrollToFirstInvalid
          (ngSubmit)="createNewEmployee()" autocomplete="on">
      <mat-form-field class="input-container">
        <input matInput name="hname" type="text"
               placeholder="Name"
               formControlName="name">
        <mat-error *ngIf="newEmployeeForm.controls.name.errors && form.submitted">
          <ng-template [ngIf]="newEmployeeForm.controls.name.errors.required" i18n="@@nameRequired">
            Name is required
          </ng-template>
          <ng-template [ngIf]="newEmployeeForm.controls.name.errors.maxlength" i18n="@@maxLengthError">
            The field is too long
          </ng-template>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-container">
        <input matInput type="text" name="rname"
               placeholder="Real name" i18n-placeholder="@@realName"
               formControlName="alterEgo">
        <mat-error *ngIf="newEmployeeForm.controls.alterEgo.errors && form.submitted">
          <ng-template [ngIf]="newEmployeeForm.controls.alterEgo.errors.required" i18n="@@nameRequired">
            Name is required
          </ng-template>
          <ng-template [ngIf]="newEmployeeForm.controls.alterEgo.errors.maxlength" i18n="@@maxLengthError">
            The field is too long. Required length: {{newEmployeeForm.controls.alterEgo.errors.maxlength.requiredLength}}.
            Current: {{newEmployeeForm.controls.alterEgo.errors.maxlength.actualLength}}
          </ng-template>
        </mat-error>
      </mat-form-field>
      <button aria-label="create button" mat-raised-button type="submit"
              [disabled]="form.submitted && !newEmployeeForm.valid" i18n="@@create">
        Create
      </button>
      <div *ngIf="error" i18n="@@errorHasOcurred">An error has ocurred</div>
    </form>
  </div>

  <div id="employeees-json">
    <h2 class="header__title" i18n="@@firstTwoEmployeesById">Employees (1-2)</h2>
    <pre *ngIf="!employeees">
      <app-loading-placeholder [height]="'300px'"></app-loading-placeholder>
    </pre>
    <pre *ngIf="employeees">{{employeees | slice:0:2 | json}}</pre>
  </div>
</div>
<div class="clear"></div>
